
    .blok{
    font-size: large;
   font-weight: 100px;
}
.p{
    display: flex;
}
.partie_1{
    background-color: rgb(180, 187, 185);
    width:300px ;
    
}
.partie_2{
    background-color: rgb(197, 190, 190);

}
h1{
    font-size :30px;
    text-align: center;

}
img{
    width: 200px;
    height: 100px;
    border-radius: 50%;
}
li{
      color: rgb(38, 30, 44);
      font-style: italic;
      font-size: 20px;
      margin: 40px;
      padding: 10px;
      background: rgb(180, 187, 185);
      border: 10px;

      }
      p{
        margin: 5px;
        padding: 5px;
      }
      h2{
        text-align: center;
        font-size: 20px;
      }